.Quote {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 150px;
}

.newQuote {
    display: flex;
    margin-top: 20px;
    width: 200px;
    background-color: pink;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.text {
    color: blueviolet;
    font-size: large;
    margin: 20px;
}

.q {
    font-style: italic;
}